{% extends 'base.html.twig' %}

{% block body %}
    {{ include('navbar.html.twig') }}

    <div class="container-fluid">
        <main role="main">
            <div class="mx-auto w-75 mb-2">
                <h2 class="mt-4 mb-4">A déclarer</h2>
                {% for event in events %}
                    {% if event.isDeclarable() %}
                        {{ include('list_item.html.twig', {event: event}) }}
                    {% endif %}
                {% endfor %}

                <h2 class="mt-4 mb-4">A venir</h2>
                {% for event in events %}
                    {% if not event.isDeclarable() %}
                        {{ include('list_item.html.twig', {event: event}) }}
                    {% endif %}
                {% endfor %}
            </div>
        </main>
    </div>
{% endblock %}