{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <main role="main">
            <div class="mx-auto w-100 mb-2">
                <h2 class="mt-4 mb-4">Mot de passe oublié</h2>
                {% for flashError in app.flashes('reset_password_error') %}
                    <div class="alert alert-danger" role="alert">{{ flashError }}</div>
                {% endfor %}
                {{ form_start(requestForm) }}
                    {{ form_row(requestForm.email) }}
                    <div>
                        <small>
                            Saisissez votre adresse mail et vous recevrez un lien de réinitialisation.
                        </small>
                    </div>

                    <button class="btn btn-primary">Valider</button>
                {{ form_end(requestForm) }}
            </div>
        </main>
    </div>
{% endblock %}