<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}BBPL - Gestion des frais{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="{{ asset('build/global.css') }}">
        <link rel="stylesheet" href="{{ asset('build/main.css') }}">
        <link rel="stylesheet" href="{{ asset('build/util.css') }}">
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
    <script src="{{ asset('build/js/app.js')}}"></script>
</html>
